<h1>詳細</h1>
<div class="show-container">
    <%= @member.name %>
    <%= @member.mentor %>
    <%= @member.profile %>
    <%= @member.grade %>
    <%= @member.created_at %>
    <%= button_to "投稿削除", member_path(@member.id), method: :delete %>
    <%= link_to "編集", edit_member_path(@member.id) %>
</div>
<%= link_to "投稿一覧", members_path %>